<section class="content-header" style="margin-top: 60px;">
    <ol class="breadcrumb">
        <li>
            <a routerLink="/app/dashboard">
                <i class="fa fa-fw fa-home"></i> Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/app/transaction">Transactions</a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row row-spacing">
        <div class="col-lg-12 col-md-12">
            <div class="col-md-6" style="padding-left: 0px;">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input [(ngModel)]="searchValue" placeholder="Search Table" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </div>
            <div class="col-md-6" style="margin-bottom: 15px; padding-right: 0px;" *ngIf="permissionList.indexOf('CANLOGTRANSACTION') > -1">
                <div class="" style="float: right;">
                    <a class="btn btn-success" role="button" (click)="openNewTransaction()">
                        <span class="glyphicon glyphicon-plus"></span> New Transaction
                    </a>
                </div>

            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="padding-top: 5px; padding-bottom: 5px; font-weight: 600;">
                        Transaction
                    </h3>
                    <span class="pull-right">
                    <i class="fa fa-fw fa-chevron-up clickable"></i>
                </span>
                </div>
                <div class="panel-body">
                    <nz-table #columnTable [nzData]="allTransactionsList" [nzScroll]="{ x: '1130px' }">
                        <thead>
                            <tr>
                                <th nzLeft nzWidth="50px">#</th>
                                <th nzLeft nzWidth="160px" (click)="sort('applicantAccountNo')" style="cursor: pointer;">Appicant Account No<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzWidth="160px" (click)="sort('applicantFullName')" style="cursor: pointer;">Appicant Full Name<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzWidth="160px" (click)="sort('beneficiaryAccountNo')" style="cursor: pointer;">Beneficiary Account No<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzWidth="160px" (click)="sort('formA')" style="cursor: pointer;">Form A No<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzWidth="160px" (click)="sort('fxAmount')" style="cursor: pointer;">FX Amount<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzWidth="160px" (click)="sort('branchID')" style="cursor: pointer;">Sol ID<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzWidth="160px" (click)="sort('branchID')" style="cursor: pointer;">Status<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzRight nzWidth="160px" (click)="sort('createdOn')" style="cursor: pointer;">Created On<i nz-icon nzType="sort-ascending" nzTheme="outline" class="ml-2"></i></th>
                                <th nzRight nzWidth="80px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of columnTable.data | transactionfilter: searchValue | orderBy: key: reverse; let i = index">
                                <td nzLeft>{{ i+1 }}</td>
                                <td nzLeft>{{ list.applicantAccountNo }}</td>
                                <td>{{ list.applicantFullName }}</td>
                                <td>{{ list.beneficiaryAccountNo }}</td>
                                <td>{{ list.formA }}</td>
                                <td>{{ list.fxAmount }}</td>
                                <td>{{ list.branchID }}</td>
                                <td>{{ list.statusText }}</td>
                                <td nzRight>{{ list.createdOn | date }}</td>
                                <td nzRight>
                                    <div class="" style="display: flex;">
                                        <div class="" style="margin-right: 15px; cursor: pointer;" (click)="approveTrans(list)">
                                            <i class="fa fa-eye text-success" style="font-size: 20px;"></i>
                                        </div>
                                        <!-- <div class="" style="cursor: pointer;">
                                        <i class="fa fa-trash-o text-danger" style="font-size: 20px;"></i>
                                    </div> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
    <!-- /#right -->
</section>


<!--Drawer for adding Transaction-->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="720" [nzVisible]="visible" nzTitle="New Transaction" [nzFooter]="footerTpl" (nzOnClose)="closeNewTransaction()">
    <form nz-form *nzDrawerContent [formGroup]="transactionForm">
        <div class="row row-spacing">

            <div class="col-lg-12 col-md-12">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input BVN!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant BVN*</label>
                                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                    <input type="text" maxlength="11" [(ngModel)]="personalBvn" formControlName="applicantBVN" nz-input placeholder="Enter Your BVN" />
                                </nz-input-group>
                                <ng-template #suffixIconButton>
                                    <button nz-button [nzLoading]="isLoadingValidateBvn1" [disabled]="this.beneBvn === any" (click)="validateBvn()" nzType="primary" style="background-color: #4BA145; border: #4BA145;">Validate</button>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="bvnDetailsApp1">
                <div class="col-md-4" style="padding-left: 0px;">
                    <h6 style="font-weight: 600;">Account Name</h6>
                    <p>{{ applicantBvnDetails?.firstName }} {{ applicantBvnDetails?.lastName }}</p>
                </div>
                <div class="col-md-4">
                    <h6 style="font-weight: 600;">BVN Status</h6>
                    <p>{{ applicantBvnDetails?.bvnStatusDetails }}</p>
                </div>
                <!-- <div class="col-md-4">
                <h6 style="font-weight: 600;">Date Of Birth</h6>
                <p>22-02-1953</p>
            </div> -->
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-9" style="padding-left: 0px; padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input beneficiary Bvn!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Beneficiary BVN*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" maxlength="11" [(ngModel)]="beneBvn" formControlName="beneficiaryBVN" nz-input placeholder="Enter Beneficiary BVN" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-3" style="padding-right: 0px;">
                        <div class="" style="margin-top: 34px; display: flex;">
                            <div class="col-md-2" style="padding-left: 0px;">
                                <label nz-checkbox (change)="samePerson($event)"></label>
                            </div>
                            <div class="col-md-10" style="padding-right: 0px; padding-left: 0px;">Same Person</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="bvnDetailsApp2">
                <div class="col-md-4" style="padding-left: 0px;">
                    <h6 style="font-weight: 600;">Account Name</h6>
                    <p>{{ applicantBvnDetails?.firstName }} {{ applicantBvnDetails?.lastName }}</p>
                </div>
                <div class="col-md-4">
                    <h6 style="font-weight: 600;">BVN Status</h6>
                    <p>{{ applicantBvnDetails?.bvnStatusDetails }}</p>
                </div>
                <!-- <div class="col-md-4">
                <h6 style="font-weight: 600;">Date Of Birth</h6>
                <p>22-02-1953</p>
            </div> -->
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="bvnDetailsBene">
                <div class="col-md-4" style="padding-left: 0px;">
                    <h6 style="font-weight: 600;">Account Name</h6>
                    <p>{{ beneficiaryBvnDetails?.firstName }} {{ beneficiaryBvnDetails?.lastName }}</p>
                </div>
                <div class="col-md-4">
                    <h6 style="font-weight: 600;">BVN Status</h6>
                    <p>{{ beneficiaryBvnDetails?.bvnStatusDetails }}</p>
                </div>
                <!-- <div class="col-md-4">
                <h6 style="font-weight: 600;">Date Of Birth</h6>
                <p>09-11-1999</p>
            </div> -->
            </div>

            <div class="col-lg-12 col-md-12" *ngIf="showFirstMainPage">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-10" style="padding-left: 0px; padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please select currency!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Currency*</label>
                                <nz-select style="width: 100%;" formControlName="currency" nzShowSearch nzAllowClear nzPlaceHolder="Select Currency">
                                    <nz-option *ngFor="let list of allCurrencyList" [nzValue]="list.id" [nzLabel]="list.description"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-2" style="padding-right: 0px;">
                        <div class="" style="margin-top: 30px;">
                            <button nz-button nzType="primary" [disabled]="transactionForm.value.currency === ''" style="background-color: #4BA145; border: #4BA145;" (click)="getCurrencyRate()" [nzLoading]="isLoadingCurrency">Get Rate !!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="showFirstMainPage">
                <div class="col-md-12" style="border: 1px solid #DDDDDD; padding-top: 6px; padding-bottom: 6px; display: flex;">
                    <div class="mr-5">Buying Amount:</div>
                    <div class="ml-5" style="font-weight: 600; color: tomato;">{{ currencyRateDetails?.buyingAmount }}</div>
                    <div class="mr-5" style="margin-left: 60px;">Selling Rate:</div>
                    <div class="ml-5" style="font-weight: 600; color: tomato;">{{ currencyRateDetails?.sellingAmount }}</div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 20px;" *ngIf="showFirstMainPage">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please select transaction type!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Transaction Type*</label>
                                <nz-select style="width: 100%;" formControlName="transactionType" nzShowSearch nzAllowClear nzPlaceHolder="Select Transaction Type">
                                    <nz-option *ngFor="let list of allTransactionTypeList" [nzValue]="list.id" [nzLabel]="list.description"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please select purchase type!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Purchase Type*</label>
                                <nz-select style="width: 100%;" formControlName="purchaseType" nzShowSearch nzAllowClear nzPlaceHolder="Select Purchase Type">
                                    <nz-option *ngFor="let list of allPurchaseTypeList" [nzValue]="list.id" [nzLabel]="list.description"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 mt-4" *ngIf="showFirstMainPage">
                <button nz-button nzBlock (click)="getTransactionLimit()" [disabled]="transactionForm.value.purchaseType === ''" nzType="primary" style="background-color: #4BA145; border: #4BA145;" [nzLoading]="isLoadingLimit">Get Transaction Limit !!</button>
            </div>
            <div class="col-lg-12 col-md-12" style="margin-top: 30px;" *ngIf="showFirstMainPage">
                <div class="col-md-4" style="border: 1px solid #DDDDDD; padding-top: 6px; padding-bottom: 6px; display: flex;">
                    <div class="mr-5">Transaction Limit:</div>
                    <div class="ml-5" style="font-weight: 600; color: tomato;">{{ bvnAndTransactionTyeDetails?.cbnLimit }}</div>
                </div>
                <div class="col-md-4" style="border: 1px solid #DDDDDD; padding-top: 6px; padding-bottom: 6px; display: flex;">
                    <div class="mr-5">Balance:</div>
                    <div class="ml-5" style="font-weight: 600; color: tomato;">{{ bvnAndTransactionTyeDetails?.applicantsBalance }}</div>
                </div>
                <div class="col-md-4" style="border: 1px solid #DDDDDD; padding-top: 6px; padding-bottom: 6px; display: flex;">
                    <div class="mr-5">Purchase:</div>
                    <div class="ml-5" style="font-weight: 600; color: tomato;">{{ bvnAndTransactionTyeDetails?.totalPurchase }}</div>
                </div>
            </div>
        </div>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="closeNewTransaction()">Cancel</button>
            <button nz-button nzType="primary" [disabled]="applicantBalance === 0 || applicantBalance === any" style="background-color: #4BA145; border: #4BA145;" (click)="nextTran()">Next</button>
        </div>
    </ng-template>

</nz-drawer>

<!--Drawer for post transaction-->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="650" [nzVisible]="visibleTran" nzTitle="Transaction" (nzOnClose)="closeTran()">
    <form *nzDrawerContent [formGroup]="transactionForm">
        <div class="row row-spacing">
            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Form A shouldnt be less than 4!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Form A No*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" formControlName="formA" nz-input placeholder="Form A No" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Address!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant Address*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" formControlName="applicantAddress" nz-input placeholder="Applicant Address" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control>
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Passport No*</label>
                                <nz-input-group>
                                    <input type="text" maxlength="9" formControlName="passportNo" nz-input placeholder="Passport No" />
                                </nz-input-group>
                                <span class="text-danger valiFontSizes" *ngIf="transactionForm.get('passportNo').errors && (transactionForm.get('passportNo').touched || transactionForm.get('passportNo').dirty)">
                                  <span *ngIf="transactionForm.get('passportNo').errors.required">Passport no is required</span>
                                <span *ngIf="transactionForm.get('passportNo').errors.minlength">Passport no should not be less than 9 characters</span><br>
                                </span>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control>
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Tax Cert No*</label>
                                <nz-input-group>
                                    <input type="text" formControlName="taxCertNo" nz-input placeholder="Tax Cert No" />
                                    <span class="text-danger valiFontSizes" *ngIf="transactionForm.get('taxCertNo').errors && (transactionForm.get('taxCertNo').touched || transactionForm.get('taxCertNo').dirty)">
                                      <span *ngIf="transactionForm.get('taxCertNo').errors.required">Tax cert no is required</span>
                                    <span *ngIf="transactionForm.get('taxCertNo').errors.pattern">Tax cert no is invalid</span><br>
                                    </span>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-12" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Date of Birth!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Date of Birth*</label>
                                <nz-input-group nzSearch>
                                    <input type="date" formControlName="dateOfBirth" nz-input />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 6px;">
                <div class="" style="border: 1px solid #DDDDDD; padding-top: 6px; padding-bottom: 6px; display: flex;">
                    <div class="col-md-6 mg-t-20">
                        <label class="rdiobox">
                          <input name="radio" type="radio" (click)="onActionCustomer('isCustomer')">
                          <span style="margin-left: 10px;">Is Customer</span>
                        </label>
                    </div>
                    <div class="col-md-6 mg-t-20">
                        <label class="rdiobox">
                          <input name="radio" type="radio" (click)="onActionCustomer('nonCustomer')">
                          <span style="margin-left: 10px;">Non Customer</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" style="margin-top: 6px;" *ngIf="showFor">
                <div class="" style="border: 1px solid #DDDDDD; padding-top: 6px; padding-bottom: 6px; display: flex;">
                    <div class="col-md-6 mg-t-20" *ngIf="showForCash">
                        <label class="rdiobox">
                          <input name="radio2" type="radio" (click)="onActionSelect('isCash')">
                          <span style="margin-left: 10px;">Is Cash</span>
                        </label>
                    </div>
                    <div class="col-md-6 mg-t-20" *ngIf="showForTransfer">
                        <label class="rdiobox">
                          <input name="radio2" type="radio" (click)="onActionSelect('isTransfer')">
                          <span style="margin-left: 10px;">Transfer</span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12" style="margin-top: 12px;">
                <div class="col-md-12" style="border: 1px solid #DDDDDD; padding-top: 6px; padding-bottom: 6px; display: flex;">
                    <div class="" style="padding-left: 0px;">
                        <label nz-checkbox></label>
                    </div>
                    <div class="col-md-5 ml-5" style="padding-right: 0px; padding-left: 0px;">Is Cash</div>
                    <div class="" style="padding-left: 0px;">
                        <label nz-checkbox></label>
                    </div>
                    <div class="col-md-5 ml-5" style="padding-right: 0px; padding-left: 0px;">Transfer</div>
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12" style="margin-top: 20px;" *ngIf="isCashPick">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input applicant bank!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant Bank*</label>
                                <nz-select style="width: 100%;" formcontrolName="applicantBankCode" nzShowSearch nzAllowClear nzPlaceHolder="Select Bank">
                                    <nz-option *ngFor="let list of allBankList" [nzValue]="list.bankCode" [nzLabel]="list.bankName"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" style="margin-top: 20px;" *ngIf="isTransferPick">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input applicant bank!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant Bank*</label>
                                <nz-select style="width: 100%;" formControlName="applicantBankCode" nzShowSearch nzAllowClear nzPlaceHolder="Select Bank">
                                    <nz-option *ngFor="let list of allBankList" [nzValue]="list.bankCode" [nzLabel]="list.bankName"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input applicant account no!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant Account No*</label>
                                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                    <input type="text" maxlength="10" formControlName="applicantAccountNo" nz-input placeholder="Applicant Account No" />
                                </nz-input-group>
                                <ng-template #suffixIconButton>
                                    <button nz-button [nzLoading]="isLoadingAccNo" [disabled]="transactionForm.value.applicantAccountNo === ''" (click)="validateAccount()" nzType="primary" style="background-color: #4BA145; border: #4BA145;">Validate</button>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input beneficiary bank!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Beneficiary Bank*</label>
                                <nz-select style="width: 100%;" formControlName="beneficiaryBankCode" nzShowSearch nzAllowClear nzPlaceHolder="Select Bank">
                                    <nz-option *ngFor="let list of allBankList" [nzValue]="list.bankCode" [nzLabel]="list.bankName"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input beneficiary account no!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Beneficiary Account No*</label>
                                <nz-input-group nzPrefixIcon="user">
                                    <input type="text" maxlength="10" formControlName="beneficiaryAccountNo" nz-input placeholder="Beneficiary Account No" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" *ngIf="showImage" style="margin-bottom: 15px;">
                <div class="col-lg-6 col-md-6 mb-2" *ngFor="let uploadDoc of uploadedDocs" style="margin-bottom: 3px; height: 180px;">
                    <pdf-viewer [src]="uploadDoc" [render-text]="true" style="width: 100"></pdf-viewer>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input fx amount!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">FX Amount*</label>
                                <nz-input-group nzPrefixIcon="user">
                                    <input type="number" formControlName="fxAmount" (input)="checkingToBuyAccess()" nz-input placeholder="FX Amount" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please upload!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Upload Files*</label>
                                <input type="file" (change)="onFileSelect($event)" formControlName="documentList" accept="application/pdf" multiple="multiple" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 mt-5">
                <button nz-button nzBlock nzType="primary" [disabled]="allUploadedImages.length === 0 || transactionForm.value.formA < 4" (click)="submitTransaction()" style="background-color: #4BA145; border: #4BA145;" [nzLoading]="isLoadingSub">Submit !!</button>
            </div>
        </div>
    </form>

</nz-drawer>


<!--Drawer for Edit and Approve transaction-->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="750" [nzVisible]="visibleApprove" nzTitle="Approve or Decline Transaction" (nzOnClose)="closeTranApprove()">
    <form *nzDrawerContent [formGroup]="transactionForm">

        <div class="col-md-12">
            <h5 style="margin-top: 5px; margin-bottom: 20px; font-weight: 600; color: darkslategray;">Transaction Created Date & Time: &nbsp; {{ transactionFormDetailsById?.CreatedOn | date: 'medium' }} </h5>
        </div>

        <div class="row row-spacing">
            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please enter transaction type!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Transaction Type*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="transactionTypeToUse" formControlName="transactionType" nz-input readonly placeholder="Transation Type" readonly />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please enter purchase type!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Purchase Type*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="purchaseTypeToUse" formControlName="purchaseType" nz-input readonly placeholder="Purchase Type" readonly/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Applicant Account No!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant Account No*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="ApplicantAccountNoToUse" formControlName="applicantAccountNo" nz-input readonly placeholder="Applicant Address" readonly />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Applicant Address!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant Address*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="ApplicantAddressToUse" formControlName="applicantAddress" nz-input readonly placeholder="Address" readonly />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Applicant Bvn!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant BVN*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="ApplicantBVNToUse" formControlName="applicantBVN" nz-input readonly placeholder="Passport No" readonly/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Beneficiary Account No!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Beneficiary Account No*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="BeneficiaryAccountNoToUse" formControlName="beneficiaryAccountNo" nz-input readonly placeholder="Tax Cert No" readonly />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Beneficiary No!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Beneficiary BVN*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="BeneficiaryBVNToUse" formControlName="beneficiaryBVN" nz-input readonly placeholder="Beneficiary BVN" readonly/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input FX Amount!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">FX Amount*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="FXAmountToUse" formControlName="fxAmount" nz-input placeholder="Tax Cert No" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Is Cash!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Is Cash*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="IsCashTranxToUse" formControlName="isCashTranx" nz-input readonly placeholder="Passport No" readonly/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Is Customer!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Is Customer*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="IsCustomerToUse" formControlName="isCustomer" nz-input readonly placeholder="Tax Cert No" readonly />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Passport No!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Passport No*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="PassportNoToUse" formControlName="passportNo" nz-input readonly placeholder="Passport No" readonly/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Tax Cert No!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Tax Cert No*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="TaxCertNoToUse" formControlName="taxCertNo" nz-input readonly placeholder="Passport No" readonly/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!-- <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Tax Cert No!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Purpose*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="PurposeToUse" formControlName="purpose" nz-input readonly placeholder="Tax Cert No" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input BVN!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Applicant BVN*</label>
                                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                    <input type="text" maxlength="11" [(ngModel)]="personalBvn" formControlName="applicantBVN" nz-input placeholder="Enter Your BVN" />
                                </nz-input-group>
                                <ng-template #suffixIconButton>
                                    <button nz-button [nzLoading]="isLoadingValidateBvn1" [disabled]="this.beneBvn === any" (click)="validateBvnApproval()" nzType="primary" style="background-color: #4BA145; border: #4BA145;">Validate</button>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="bvnDetailsApp1">
                <div class="col-md-4" style="padding-left: 0px;">
                    <h6 style="font-weight: 600;">Account Name</h6>
                    <p>{{ applicantBvnDetails?.firstName }} {{ applicantBvnDetails?.lastName }}</p>
                </div>
                <div class="col-md-4">
                    <h6 style="font-weight: 600;">BVN Status</h6>
                    <p>{{ applicantBvnDetails?.bvnStatusDetails }}</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-9" style="padding-left: 0px; padding-right: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input beneficiary Bvn!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Beneficiary BVN*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" maxlength="11" [(ngModel)]="beneBvn" formControlName="beneficiaryBVN" nz-input placeholder="Enter Beneficiary BVN" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-3" style="padding-right: 0px;">
                        <div class="" style="margin-top: 34px; display: flex;">
                            <div class="col-md-2" style="padding-left: 0px;">
                                <label nz-checkbox (change)="samePerson($event)"></label>
                            </div>
                            <div class="col-md-10" style="padding-right: 0px; padding-left: 0px;">Same Person</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="bvnDetailsApp2">
                <div class="col-md-4" style="padding-left: 0px;">
                    <h6 style="font-weight: 600;">Account Name</h6>
                    <p>{{ applicantBvnDetails?.firstName }} {{ applicantBvnDetails?.lastName }}</p>
                </div>
                <div class="col-md-4">
                    <h6 style="font-weight: 600;">BVN Status</h6>
                    <p>{{ applicantBvnDetails?.bvnStatusDetails }}</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="bvnDetailsBene">
                <div class="col-md-4" style="padding-left: 0px;">
                    <h6 style="font-weight: 600;">Account Name</h6>
                    <p>{{ beneficiaryBvnDetails?.firstName }} {{ beneficiaryBvnDetails?.lastName }}</p>
                </div>
                <div class="col-md-4">
                    <h6 style="font-weight: 600;">BVN Status</h6>
                    <p>{{ beneficiaryBvnDetails?.bvnStatusDetails }}</p>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input FX Rate!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">FX Rate<span style="color: tomato;">*</span></label>
                                <nz-input-group nzSearch>
                                    <input type="number" [(ngModel)]="approvalFxRateToUse" formControlName="approvalFXRate" nz-input placeholder="FX Rate" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-xs-6" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Form A shouldnt be less than 4!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Form A No*</label>
                                <nz-input-group nzSearch>
                                    <input type="text" [(ngModel)]="formANoToUse" formControlName="formA" nz-input placeholder="Form A No" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-bottom: 15px; margin-top: 9px;">
                <div class="col-lg-6 col-md-6 mb-2" *ngFor="let uploadDoc of DocumentListToUse" style="margin-bottom: 3px; height: 180px;">
                    <pdf-viewer [src]="'data:application/pdf;base64,' + uploadDoc.FXSaleTranxDocBase64" [render-text]="true" style="width: 100"></pdf-viewer>
                    <button nz-button style="background-color: #4BA145; border: #4BA145; color: #fff;" (click)="onClickDownloadPdf(uploadDoc.FXSaleTranxDocBase64)">Download PDF File</button>
                </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 5px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-xs-12" style="padding-left: 0px;">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input Comment!">
                                <label class="form-label" style="font-weight: 600; color: darkslategray; margin-bottom: 8px;">Comment*</label>
                                <nz-input-group nzSearch>
                                    <textarea type="text" formControlName="comment" nz-input placeholder="Enter Comment"></textarea>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 mt-5">
                <div class="col-md-6"><button nz-button [disabled]="transactionForm.value.formA < 4" nzType="primary" (click)="declineTransaction()" style="background-color: tomato; border: tomato;" *ngIf="permissionList.indexOf('CANAPPROVETRANSACTION') > -1" [nzLoading]="isLoadingDecli">Decline !!</button></div>
                <div class="col-md-3" style="float: right; margin-left: 160px;"><button nz-button [disabled]="transactionForm.value.formA < 4" nzType="primary" (click)="approveTransaction()" *ngIf="permissionList.indexOf('CANAPPROVETRANSACTION') > -1" style="background-color: #4BA145; border: #4BA145;" [nzLoading]="isLoadingAppro">Approve !!</button></div>
            </div>
        </div>
    </form>

</nz-drawer>
